<h2 style="margin-top: 100px; text-align: center;">Staff List</h2>
<button type="button" class="btn btn-success mt-3 mb-3" (click)="openModal(template3)">Add
  Staff</button>

<form [formGroup]="staffform">

  <ng-template #template3>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Staff</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group text-center">
        <img src="../assets/steward.png" style="width: 100px;">
      </div>
      <div class="form-group">
        <label class="form-label" style="font-weight: 700; width: 110px;">First Name:</label>
        <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname2">
        <div class="red" *ngIf="issubmitted==true">
          <div *ngIf="staffform.controls['firstname2'].errors?.['required']">
            Subject is required..!</div>
          <div *ngIf="staffform.controls['firstname2'].errors?.['minLength']">
            Subject Name should be min 3 characters..!</div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" style="font-weight: 700; width: 110px;">Last Name:</label>
        <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname2">
        <div class="red" *ngIf="issubmitted==true">
          <div *ngIf="staffform.controls['lastname2'].errors?.['required']">
            Subject is required..!</div>
          <div *ngIf="staffform.controls['lastname2'].errors?.['minLength']">
            Subject Name should be min 3 characters..!</div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" style="font-weight: 700;">Email:</label>
        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email2">
        <div class="red" *ngIf="issubmitted==true">
          <div *ngIf="staffform.controls['email2'].errors?.['required']">
            Subject is required..!</div>
          <div *ngIf="staffform.controls['email2'].errors?.['minLength']">
            Subject Name should be min 3 characters..!</div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label class="form-label" style="font-weight: 700;">Contact:</label>
        <input type="number" class="form-control" placeholder="Enter Contact No" formControlName="contact2">
      </div> -->
      <button type="button" class="btn" style="background-color: #cbc6c6;border: none;"
        (click)="clear2()">Clear</button>
      <button type="submit" class="btn btn-success ml-3" (click)="submit2()"
        *ngIf="iseditclicked2 == 'no'">Submit</button>
      <button type="button" class="btn btn-success ml-3" (click)="update2()"
        *ngIf="iseditclicked2 == 'yes'">Update</button>
    </div>
  </ng-template>

</form>

<table class="table table-hover text-center" style="margin-top: 10px;" style="height: 400px;">
  <thead>
    <tr style="text-align: center;">
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <!-- <th>Contact</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of stafflist; let i = index">
      <td style="width: 270px;">{{staff.firstname2}}</td>
      <td style="width: 270px;">{{staff.lastname2}}</td>
      <td style="width: 280px;">{{staff.email2}}</td>
      <!-- <td style="width: 270px;">{{staff.contact2}}</td> -->
      <td style="width: 260px;">
        <button type="button" class="btn" (click)="openModal(template3)" (click)="edit2(i)"><img
            src="../assets/edit (1).png" style="width: 30px;">
          <!-- <ng-template #template3>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Update Staff</h4>
              <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="form-label" style="font-weight: 700;">First Name:</label>
                <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname2">
              </div>
              <div class="form-group">
                <label class="form-label" style="font-weight: 700;">Last Name:</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname2">
              </div>
              <div class="form-group">
                <label class="form-label" style="font-weight: 700;">Email:</label>
                <input type="email" class="form-control" placeholder="Enter Email" formControlName="email2">
              </div>
              <div class="form-group">
                <label class="form-label" style="font-weight: 700;">Contact:</label>
                <input type="number" class="form-control" placeholder="Enter Contact No" formControlName="contact2">
              </div>
              <button type="button" class="btn" style="background-color: #cbc6c6;border: none;"
                (click)="clear2()">Clear</button>
              <button type="button" class="btn btn-success ml-3" (click)="submit2()"
                *ngIf="iseditclicked2 == 'no'">Submit</button>
              <button type="button" class="btn btn-success ml-3" (click)="update2()"
                *ngIf="iseditclicked2 == 'yes'">Update</button>
            </div>
          </ng-template> -->
        </button>
        <button type="button" class="btn" (click)="delete2(i)"><img src="../assets/delete (3).png"
            style="width: 30px;"></button>
      </td>
    </tr>
  </tbody>
</table>
<hr>